# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science.
* Identify commonly used Data Science libraries.
* Introduce open source Data Science tools.
* Demonstrate basic arithmetic operations in Python.

Some of the popular languages that Data Scientists use are:
1.  Python
2.  R
3.  SQL
4.  Julia

Some of the commonly used libraries used by Data Scientists include:
1.  NumPy
2.  Pandas
3.  Scikit-learn
4.  TensorFlow
5.  PyTorch

| Data Science Tools |
|--------------------|
| Jupyter Notebooks  |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print (hours)

3.3333333333333335

## Author ## 
Antonios Bastoulis